.card-item {
    width: 25%;
    padding-right: 40px;
    padding-top: 30px;
}
.card-item-gallery{
    position: relative;
}

.card-item .card-img {
    width: 100%;
    border-radius: 0 0 3px 3px;
}

.card-item .card-title{
    padding-top: 10px;
}
.card-item .card-date{
     padding-top: 3px;
 }
.card_rating{
    position: absolute;
    left:10px;
    top:10px;
    color:#fff;
    padding: 3px 7px;
    font-size:10px;
    border-radius: 2px;
}

.card-item .card__high__rating{
    background-color: #00c97a;
}

.card-item .card__middle__rating{
    background-color: #4a1896;
}
.card-item .card__low__rating{
    background-color: #d41a57;
}
.card-item a{
    cursor: pointer;
    text-decoration: none;
}
@media only screen and (max-width: 1200px) {
    .card-item {
        padding: 30px;
        width: 25%;
    }
}
@media only screen and (max-width: 1024px) {
    .card-item {
        padding: 20px;
        width: 33%;
    }
}
@media only screen and (max-width: 768px) {
    .card-item {
        padding: 15px;
        width: 50%;
    }
}


